@function calculate-rem($size) {
    $rem-size: $size / 14px;
    @return $rem-size * 1rem;
}

@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

@function z-depth-top($depth: 1) {
    $color: .12, .19, .19, .21, .22, .23, .24;
    $offset-y: 2px, 6px, 17px, 25px, 40px, 52px, 64px;
    $blur: 10px, 20px, 50px, 55px, 64px, 72px, 84px;

    @return 0 nth($offset-y, $depth) nth($blur, $depth) black(nth($color, $depth));
}

@function z-depth-bottom($depth: 1) {
    $color: .16, .2, .24, .23, .22, .2, .18;
    $offset-y: 2px, 8px, 12px, 16px, 27px, 32px, 36px;
    $blur: 5px, 17px, 15px, 28px, 24px, 21px, 18px;

    @return 0 nth($offset-y, $depth) nth($blur, $depth) black(nth($color, $depth));
}

