.input-dropdown {
  .button {
    display: flex;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .fa {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }

  input[type="text"] {
    width: 400px;

    background: $white;

    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
