.nav {
  li {
    font-size: 1.6rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;

    list-style-type: none;

    .fa {
      font-size: 2.6rem;
      vertical-align: top;
      margin-right: 3rem;
    }

    &:hover,
    &.selected {
      background-color: rgba(0,0,0,.05);
    }
  }
}
