nav {
    background-color: $color-primary;

    @include z-depth(3);
    color: $white;

    position: relative;
    top: 0;
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
    height: 4rem;

    .nav-title h5,
    .nav-icon {
        line-height: 4.2rem;
    }

    .nav-icon {
        font-size: 2.6rem;
    }

    .input-dropdown {
        .button {
            color: $white;
            border-color: $white;
        }

        input[type="text"] {
            border: 0 !important;
        }
    }
}
