// Color Palette

$black: #000;
$white: #fff;

$palette-dark-red: #5C0200;
$palette-dark-green: #006F1D;
$palette-dark-purple: #402C39;
$palette-dark-yellow: #EDA900;
$palette-dark-blue: #1C4E71;
$palette-dark-orange: #CF380B;

$palette-red: #B20400;
$palette-green: #3A796F;
$palette-purple: #402C39;
$palette-yellow: #FFC600;
$palette-blue: #315F7E;
$palette-orange: #FA5B0F;

$palette-bright-red: #FF021F;
$palette-bright-green: #3FE86B;
$palette-bright-purple: #843FE8;
$palette-bright-yellow: #FFFC45;
$palette-bright-blue: #52C2FF;
$palette-bright-orange: #FF4708;

$palette-light-red: #E27D78;
$palette-light-green: #79B599;
$palette-light-purple: #8C727B;
$palette-light-yellow: #F2EC99;
$palette-light-blue: #91B0D9;
$palette-light-orange: #FF8547;

$color-initial: $white;
$color-primary: $palette-blue !default;
$color-secondary: lighten($black, 35%) !default;
$color-primary-complement: lighten($palette-light-yellow, 15%) !default;
$color-secondary-complement: lighten($black, 75%) !default;

$grid-max-width: 112.0rem;

$size-xs: 0.125rem;
$size-sm: 0.5rem;
$size-md: 1rem;
$size-lg: 2rem;
$size-xl: 3rem;
$size-xxl: 4rem;
